# prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on
#RewriteRule ^admin(/.+)?$ web/$1 [L,PT]

#remove web/ in url :)
RewriteRule ^(.+)?$ web/$1